<html>
    <body>
        <div class="tab-pane fade shadow rounded bg-white p-5" id="appDetails" role="tabpanel" aria-labelledby="pills-app-details-tab">
            <h4 class="font-italic mb-4">Application Details</h4>
            <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><span class="font-italic text-muted mb-2 fw-bold">Application ID: </span>{{data.AppId}}</td>
                  </tr>
                  <tr>
                    <td><span class="font-italic text-muted mb-2 fw-bold">Application Name: </span>{{data.AppName}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </body>
</html>