<html>
    <body>
      <div class="card">
        <div class="d-flex flex-row flex-wrap bd-highlight card-body">
          <table class="table table-borderless table-info">
            <tbody>
              <tr>
                <td><span class="fw-bold">Tenant Id: </span>{{data.TenantId}}</td>
                <td><span class="fw-bold">Tenant Name; </span>{{data.TenantName}}</td>
                <td><span class="fw-bold">Tenant Email: </span
                  >{{data.ContactEmail}}</td>
              </tr>
              <tr>
                <td><span class="fw-bold">Number Of Apps: </span
                  >{{data.NumberOfApps}}</td>
                <td><span class="fw-bold">Active Technologies: </span
                  >{{data.ActiveTechnologies}}</td>
                  <td><span class="fw-bold"></td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
    </body>
</html>