<html>

<body>
  <div class="card">
    <div class="d-flex flex-row flex-wrap bd-highlight card-body">
      <table class="table table-borderless table-info">
        <tbody>
          <tr>
            <td><span class="fw-bold">User Name: </span>{{data.UserInfo.Username}}</td>
            <td><span class="fw-bold">Email: </span>{{data.UserInfo.Email}}</td>
            <td><span class="fw-bold">Admin: </span>{{data.UserInfo.IsAdmin}}</td>
          </tr>
          <tr>
            <td><span class="fw-bold">Phone Number: </span>{{data.UserInfo.PhoneNumber}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>