<html>
    <body>
        <div class="tab-pane fade shadow rounded bg-white p-5" id="userDetails" role="tabpanel" aria-labelledby="pills-user-details-tab">
            <h4 class="font-italic mb-4">User Details</h4>
            <p><span class="font-italic text-muted mb-2 fw-bold">User ID: </span>{{data.CreatedBy.Id}}</p>
            <p><span class="font-italic text-muted mb-2 fw-bold">User Name: </span>{{data.CreatedBy.UserName}}</p>
            <p><span class="font-italic text-muted mb-2 fw-bold">First Name: </span>{{data.CreatedBy.FirstName}}</p>
            <p><span class="font-italic text-muted mb-2 fw-bold">Last Name: </span>{{data.CreatedBy.LastName}}</p>
            <p><span class="font-italic text-muted mb-2 fw-bold">Email: </span>{{data.CreatedBy.Email}}</p>
            <p><span class="font-italic text-muted mb-2 fw-bold">Offering Type: </span>{{data.OfferingType}}</p>
        
        </div>
    </body>
</html>